Repository victorbillaud/tomato, pull requests merged in 2023-11, with the labels that each got.

#28 Update prod
  utils/lib/qrcode/services.ts
  web/app/auth/callback/route.ts
  web/app/auth/forgot-password/page.tsx
  web/app/auth/layout.tsx
  web/app/auth/login/page.tsx
  web/app/auth/register/page.tsx
  web/app/dashboard/item/create/[qrcode_id]/page.tsx
  web/app/dashboard/layout.tsx
  web/components/AuthButton.tsx
  web/components/AuthProviders.tsx
  web/components/common/icon/constant.ts
  web/components/common/input/InputText.tsx
  web/components/common/link/Link.tsx
  web/components/common/link/types.ts
  web/middleware.ts
Labels: web

#31 [web] Submit button
  web/app/auth/forgot-password/page.tsx
  web/app/auth/login/page.tsx
  web/app/auth/register/page.tsx
  web/app/dashboard/AddItemButton.tsx
  web/app/dashboard/item/create/[qrcode_id]/page.tsx
  web/app/dashboard/layout.tsx
  web/app/dashboard/page.tsx
  web/app/scan/[qrcode_id]/@activation/page.tsx
  web/app/scan/[qrcode_id]/@creation/page.tsx
  web/components/common/button/Button.tsx
  web/components/common/button/SubmitButton.tsx
  web/components/common/button/index.ts
  web/components/common/link/Link.tsx
  web/components/common/link/index.ts
  web/components/common/link/types.ts
  web/components/item/ItemCard.tsx
  web/package-lock.json
  web/package.json
  web/pnpm-lock.yaml
  web/tailwind.config.js
Labels: bug, web

#35 [web] Item page creation
  supabase/migrations/20231121192834_scan_type.sql
  utils/.env.production
  utils/lib/item/services.test.ts
  utils/lib/item/services.ts
  utils/lib/scan/services.test.ts
  utils/lib/scan/services.ts
  utils/lib/supabase/services.ts
  utils/lib/supabase/supabase_types.ts
  web/app/dashboard/item/[item_id]/page.tsx
  web/app/dashboard/layout.tsx
  web/app/dashboard/page.tsx
  web/app/scan/[qrcode_id]/layout.tsx
  web/app/ui/page.tsx
  web/components/common/button/Button.tsx
  web/components/common/icon/constant.ts
  web/components/common/input/InputText.tsx
  web/components/common/input/InputTextForm.tsx
  web/components/common/input/index.ts
  web/components/common/link/Link.tsx
  web/components/common/link/types.ts
  web/components/common/tag/Tag.tsx
  web/components/common/tag/config.ts
  web/components/common/tag/index.ts
  web/components/common/tag/types.ts
  web/components/common/text/config.ts
  web/components/item/ItemCard.tsx
  web/components/item/ItemInfo.tsx
  web/components/item/ItemScanHistory.tsx
  web/components/item/ItemScanHistoryItem.tsx
  web/components/item/ItemStateBanner.tsx
  web/components/item/index.ts
  web/components/item/types.ts
  web/components/qrcode/QrCode.tsx
Labels: feature, web

#47 [item] Notify anyway
  supabase/migrations/20231124162126_item-notify-anyway.sql
  utils/lib/supabase/supabase_types.ts
  web/app/dashboard/item/[item_id]/page.tsx
  web/components/common/switch/Switch.tsx
  web/components/item/ItemSettings.tsx
  web/components/item/actions.ts
  web/components/item/types.ts
Labels: feature, web, supabase

#42 Added a name to a qrcode
  supabase/migrations/20231124134701_qrcode_add_name.sql
  utils/lib/common/data/adjectives.ts
  utils/lib/common/data/fruits-vegetables.ts
  utils/lib/common/date.ts
  utils/lib/common/generateQrcodeName.ts
  utils/lib/common/index.ts
  utils/lib/qrcode/services.test.ts
  utils/lib/qrcode/services.ts
  utils/lib/supabase/supabase_types.ts
  web/app/dashboard/item/[item_id]/page.tsx
  web/app/dashboard/item/create/[qrcode_id]/page.tsx
  web/components/common/icon/constant.ts
  web/components/qrcode/NameSelector.tsx
  web/components/radix/Select.tsx
  web/package.json
  web/pnpm-lock.yaml
Labels: feature, web, supabase
