Repository victorbillaud/tomato, pull requests merged in 2024-01, with the labels that each got.

#54 Adding image to items
  cli/tomato.py
  supabase/functions/_shared/supabase_types.ts
  supabase/migrations/20231215105144_add_item_image_field.sql
  supabase/migrations/20231215105229_image-bucket.sql
  utils/assets/test.jpg
  utils/lib/item/services.test.ts
  utils/lib/item/services.ts
  utils/lib/supabase/supabase_types.ts
  utils/package.json
  utils/pnpm-lock.yaml
  web/app/dashboard/item/[item_id]/page.tsx
  web/components/common/icon/Icon.tsx
  web/components/common/icon/constant.ts
  web/components/common/image/CustomImage.tsx
  web/components/common/image/index.ts
  web/components/common/image/types.ts
  web/components/common/input/InputFileForm.tsx
  web/components/common/input/InputTextForm.tsx
  web/components/common/input/index.ts
  web/components/item/ItemFileButton.tsx
  web/components/item/ItemInfo.tsx
  web/components/notification/NotificationPin.tsx
  web/components/qrcode/QrCode.tsx
  web/package.json
  web/pnpm-lock.yaml
Labels: feature, web, supabase

#99 Item image delete
  utils/lib/item/services.ts
  web/components/common/icon/constant.ts
  web/components/common/input/InputFileForm.tsx
  web/components/item/ItemFileButton.tsx
  web/components/item/ItemInfo.tsx
  web/package.json
  web/pnpm-lock.yaml
Labels: bug, feature, web, supabase

#103 [web] Delete item
  supabase/migrations/20240119160729_delete_item_policy.sql
  utils/lib/item/services.test.ts
  utils/lib/item/services.ts
  web/app/dashboard/item/[item_id]/page.tsx
  web/app/dashboard/item/create/[qrcode_id]/form/page.tsx
  web/components/common/icon/constant.ts
  web/components/item/DeleteItemAlert.tsx
  web/components/item/actions.ts
  web/components/radix/AlertDialog.tsx
  web/package.json
  web/pnpm-lock.yaml
Labels: feature, web, supabase

#111 [FEAT] Add location to each scan
  supabase/functions/_shared/supabase_types.ts
  supabase/migrations/20240130092052_scan_location_metadata.sql
  utils/lib/scan/services.ts
  utils/lib/supabase/supabase_types.ts
  web/app/scan/[qrcode_id]/layout.tsx
  web/app/scan/[qrcode_id]/page.tsx
  web/components/common/button/Button.tsx
  web/components/common/button/types.ts
  web/components/common/icon/constant.ts
  web/components/common/tag/Tag.tsx
  web/components/item/ItemScanHistoryItem.tsx
  web/components/item/ItemScanHistoryLocationMap.tsx
  web/components/item/LazyLeaflet.tsx
  web/components/radix/Tooltip.tsx
  web/components/scan/GeoLocation.tsx
  web/package.json
  web/pnpm-lock.yaml
  web/utils/ip.ts
Labels: feature

#106 [FEAT] Add shop page + stripe connector
  .vscode/settings.json
  cli/tomato.py
  package.json
  pnpm-lock.yaml
  supabase/.gitignore
  supabase/functions/_shared/qrcode/adjectives.ts
  supabase/functions/_shared/qrcode/fruits-vegetables.ts
  supabase/functions/_shared/supabase_types.ts
  supabase/functions/handle_payment_success/index.ts
  supabase/migrations/20240121112402_public_stripe_functions.sql
  utils/lib/cli/generate_qrcode.ts
  utils/lib/item/services.test.ts
  utils/lib/messaging/services.test.ts
  utils/lib/qrcode/services.test.ts
  utils/lib/qrcode/services.ts
  utils/lib/scan/services.test.ts
  utils/lib/stripe/services.ts
  utils/lib/supabase/supabase_types.ts
  utils/package.json
  web/app/api/stripe-checkout-session/route.ts
  web/app/dashboard/page.tsx
  web/app/page.tsx
  web/app/shop/Product.tsx
  web/app/shop/order/success/page.tsx
  web/app/shop/page.tsx
  web/components/common/button/Button.tsx
  web/components/common/icon/constant.ts
  web/components/common/link/Link.tsx
  web/components/nav/Navbar.tsx
  web/components/qrcode/Card.tsx
  web/package.json
  web/pnpm-lock.yaml
  web/utils/stripe/client.ts
  web/utils/stripe/stripe.ts
Labels: feature, web, supabase

#112 Add item images to web chat
  web/components/chat/ChatCard.tsx
  web/components/chat/ChatHeader.tsx
  web/components/chat/Message.tsx
Labels: feature, web

#117 Contact page
  web/.env.local.example
  web/app/contact/page.tsx
  web/app/layout.tsx
  web/components/common/input/InputText.tsx
  web/utils/discord/types.d.ts
Labels: feature, web

#120 About us page
  web/app/about-us/page.tsx
  web/app/layout.tsx
  web/components/common/icon/constant.ts
  web/public/about-us/arthur.jpg
  web/public/about-us/clovis.jpg
  web/public/about-us/guillaume.jpg
  web/public/about-us/thomas.jpg
  web/public/about-us/victor.jpg
Labels: feature, web
